{% extends "base.html" %}

{% block title %}
collections
{% endblock %}

{% block content %}
<form method="POST" action="/select/">
    <p>
    A web app for making collections of RSS feeds from Google Reader. <input type="submit" value="Try it out!"/>
    <input type="hidden" name="test"/>
    </p>
</form>

<div class="span-24 last">
Simple as,
</div>
<div class="span-7 box">
    1. Enter your google reader login details or upload an OPML file. (It's
    secure. HTTPS!)
</div>
<div class="span-7 box">
    2. Select the feeds that you want to make into a collection.
</div>
<div class="span-7 box last">
    3. Share the collection with your friends.
    <br/>
    <br/>
</div>

<hr class="append-bottom"/>

<div class="span-12">
    Enter your Google Reader username and password here to automatically grab your feeds.
    <form method="POST" action="/select/">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="Grab"/>
    </form>
</div>
<div class="span-12 last">
    Or upload an OPML list of your feeds, which you can export from Google Reader.<br/><br/>
    <form enctype="multipart/form-data" method="POST" action="/select/">
        <input type="file" name="opmlfile"/>
        <input type="submit" value="Upload"/>
    </form>
</div>

<div class="span-24 last center" id="footer">
</div>
{% endblock %}
