html {
    overflow-y: scroll;
}

.spinner {
    background: url("/media/img/spinner.gif") center no-repeat;
    height: 32px;
    width: 100%;
    display: block;
}

#title>img {
    float: left;
}

#title>h1 {
    float: right;
    font-size: 4em;
    padding-top: 175px;
    padding-right: 10px;
    margin: 0px;
}

#content {
    padding-top: 75px;
    background: url("/media/img/header.jpg") top left no-repeat;
}

#footer {
    height: 100px;
}

#userfeedlist ul, #newfeedlist ul {
    margin: 0;
    padding: 0;
}

.ui-draggable {
    display: block;

    padding: 3px 7px;
    margin: 7px auto;
    width: 400px;

    border: 2px solid #000000;
    background: #EEEEEE;

    cursor: move;
}

.ui-drophover {
    background: #A8EB19;
}

.ui-droppeditem {
    display: block;

    padding: 3px 7px;
    margin: 7px auto;
    width: 350px;

    border: 2px solid #000000;
    background: #EEEEEE;
}


#newfeedlist {
    /* min-height hack with IE6 support! */
    /* min-height: 800px; */
    /* height:auto !important; */
    height: 800px;
}

/* general styling classes */

.borders {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

