{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
{{username}}'s feedlist
{% endblock %}

{% block content %}

<div id="userfeed_settings" class="span-13">
Toggle sort order: Alpha Categories
</div>
<div class="span-11 last">
<form method="POST" action="/share/">
    <input id="newfeedtext" type="text" name="newfeedname" value="Name your new collection!"/>
</form>
</div>

<div id="userfeedlist" class="span-12 colborder">
    <div class="spinner"></div>
    <ul>
        {% for feed in user_feed_list %}
        <li class="borders">
        <img class="rssicon" src="/media/img/rssfavicon.gif"/>
        <strong>{{feed.title}}</strong><br/>
        <span class="alt"><a href="{{feed.url}}">{{feed.url}}</a></span><br/>
        {{feed.categories}}
        </li>
        {% endfor %}
    </ul>
</div>
<div id="newfeedlist" class="span-11 last borders">
    <ul>
    </ul>
</div>

<div id="footer" class="span-24 last">
    footer!
</div>

{% endblock %}
