{% extends "base.html" %}

{% block head %}
<script>
    reader.categories = {{uniq_json_categories|safe}};
</script>
{% endblock %}

{% block title %}
{{username|lower}}'s feedlist
{% endblock %}

{% block content %}
<div id="instructions" class="span-24 last center">
    Collect the feeds you want to share on the right-hand side. Drag them over, give the collection a name, then save and share it!
</div>

<div id="userfeed_settings" class="span-13 center">
    Toggle sort order: <a id="alpha_toggle" href="#">Alpha</a> Categories
    <br/><br/>
    Number of feeds: <span id="num_user_feeds"></span>
</div>
<div id="userfeedlist" class="span-12 colborder">
    <div class="spinner"></div>
    <ul>
        {% for feed in user_feed_list %}
            <li class="borders">
            <span class="feed-title">{{feed.title}}</span>
            <img class="rssicon" src="/media/img/rssfavicon.gif"/><br/>
            <span class="alt">{{feed.url|slice:":65"}}</span>

            <input type="hidden" name="{{feed.title}}" value="{{feed.url}}" />
            </li>
        {% endfor %}
    </ul>
</div>

<form id="share_form" method="POST" action="/share/">
<div id="newfeed_settings" class="span-11 last center">
    <input id="newfeedtext" type="text" name="feedname" value="Give your collection a name!"/>
    <input type="submit" value="Save and share!"/>
    <br/>
    Number of feeds: <span id="num_new_feeds"></span>
</div>

<div id="newfeedlist" class="span-11 last borders">
    <ul>
    </ul>
</div>
</form>

<div id="footer" class="span-24 last">
    it's a footer!
</div>

{% endblock %}
