{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
{{username|lower}}'s feedlist
{% endblock %}

{% block content %}
<div id="instructions" class="span-24 last center">
    Collect the feeds you want to share on the right-hand side. Drag them over, give the collection a name, then save and share it!
</div>

<div id="userfeed_settings" class="span-13 center">
Toggle sort order: Alpha Categories
</div>
<div class="span-11 last center">
<form method="POST" action="/share/">
    <input id="newfeedtext" type="text" name="newfeedname" value="Give your collection a name!"/>
    <input type="submit" value="Save and share!"/>
</form>
</div>

<div id="userfeedlist" class="span-12 colborder">
    <div class="spinner"></div>
    <ul>
        {% for feed in user_feed_list %}
        <li class="borders">
        <strong>{{feed.title|slice:":50"}}</strong>
        <img class="rssicon" src="/media/img/rssfavicon.gif"/><br/>
        <span class="alt">{{feed.url|urlizetrunc:40}}</span>
        {{feed.categories}}
        </li>
        {% endfor %}
    </ul>
</div>
<div id="newfeedlist" class="span-11 last borders">
    <ul>
    </ul>
</div>

<div id="footer" class="span-24 last">
    it's a footer!
</div>

{% endblock %}
