{% extends "base.html" %}

{% block head %}
<script>
</script>
{% endblock %}

{% block title %}
viewing a feedlist
{% endblock %}

{% block content %}
<div class="span-4">&nbsp;</div>
<div class="span-16">
    <ul id="viewing-list">
        {% for feed in user_feed_list %}
            <li>
            <span class="feed-title">{{feed.title}}</span>
            <span class="alt">{{feed.url}}</span>
            <a href="http://fusion.google.com/add?source=atgs&feedurl={{feed.url}}">
                <img src="http://buttons.googlesyndication.com/fusion/add.gif" class="addicon" border="0" alt="Add to Google">
            </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="span-4 last"></div>
{% endblock %}
