<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Collections</title>

        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <script type="text/javascript" src="/media/js/reader.js"></script>
        <link rel="stylesheet" type="text/css" href="/media/css/reader.css" />

        {% block head %}{% endblock %}
    </head>
    <body {% block bodytag %}{% endblock %} >
    <div class="container">
        <div id="title" class="span-24 last">
            <a href="/" ><img title="You know what they say about big RSS icons..." src="/media/img/header-rss.gif" border="0" /></a>
            <h1 class="alt">{% block title %}{% endblock %}</h1>
        </div>
        <div id="content" class="span-24 last">
            {% block content %}{% endblock %}

            <div id="footer" class="span-24 last">
                A TravelingCode project. Your feeds are safe with us.
            </div>
        </div>
    </div>
    </body>
</html>
